.one {
  height: 200px;
  background-color: yellow;
  border: black 2px solid;
}
.two {
  height: 200px;
  background-color: #ff0000;
  border: black 2px solid;
}
.three {
  height: 200px;
  background-color: rgb(0, 255, 0);
  border: black 2px solid;
}
.four {
  height: 200px;
  background-color: hsl(240, 100%, 50%);
  border: black 2px solid;
}
