body{
    background-color: yellow;
}
h1{
    color: black;
}

/* specifying by mentioning the name */

p{
    color: #ff0000;
}

/* specifying by Hexadecimal */

#lio{
    color:hsl(300, 100%, 50%);
}
/* specifying by RGB */

pre{
    color: rgb(0, 0, 255);
}
/* specifying by Hsl */

div{
height: 200px;
width: 200px;
background-color: #ff0000;
opacity: 0.5;
}