body {
  background-color: white;
}
.dotted {
  border-style: dotted;
  border-width: 10px;
  border-color: blue;
  margin-bottom: 10px;
}
.dashed {
  border-style: dashed;
  border-width: 10px;
  margin-bottom: 10px;
  border-color: blue;
  border-radius: 5px;
}

.solid {
  border-style: solid;
  border-width: 10px;
  margin-bottom: 10px;
  border-color: blue;
  border-radius: 10px;
}

.double {
  border-style: double;
  border-width: 10px;
  margin-bottom: 10px;
  border-color: blue;
  border-radius: 20px;
}

.groove {
  border-style: groove;
  border-width: 10px;
  margin-bottom: 10px;
  border-color: blue;
}

.ridge {
  border-style: ridge;
  border-width: 10px;
  margin-bottom: 10px;
  border-color: blue;
}

.inset {
  border-style: inset;
  border-width: 10px;
  margin-bottom: 10px;
  border-color: blue;
}

.outset {
  border-style: outset;
  border-width: 10px;
  margin-bottom: 10px;
  border-color: blue;
}

.none {
  border-style: none;
  border-width: 10px;
  margin-bottom: 10px;
}

.hidden {
  border-style: hidden;
  border-width: 10px;
  margin-bottom: 10px;
}
.mix {
  border-style: dotted dashed solid double;
  border-width: 10px;
  border-color: blue;
}
