body {
  background-color: rgb(252, 252, 252);
}

/* sababta aan u isticmaalay maxay tahay "min-height: 100vh;" waxa waye image ma fahmoyo 
dimension oo body waxay ka dhigantahay entire screen *** waxaa kaloo ku xlin kartaa 
background-attachment:fixed; inaa dhahdo */

/* Div kaan waa mesha aan ka fahmay in image uu rabo dimension uu fahmo si hadaa ugu 
sheegto bottom aad oo uu adop hadi kale ha1 aktisa ka dhigana bottom top iyo center */

/* div{
width: 500px;
height: 500px;
background-image: url(https://external-preview.redd.it/dimension-dj-turn-it-up-v0
-eieGdMtO3xAxtm_Sr-nXshR-LVZ45dvsP4uDIzxg3vk.jpg?auto=webp&s=92aeb829db8bea4bcef5c9d07ff13da190015842);
background-repeat: no-repeat;
background-color: brown;
background-position: center bottom;
} */

.one {
  height: 200px;
  background-image: url(https://external-preview.redd.it/dimension-dj-turn-it-up-v0-eieGdMtO3xAxtm_Sr-nXshR-LVZ45dvsP4uDIzxg3vk.jpg?auto=webp&s=92aeb829db8bea4bcef5c9d07ff13da190015842);
  border: solid black 4px;
  margin-bottom: 2px;
}

.two {
  height: 200px;
  background-image: none;
  border: solid black 4px;
  margin-bottom: 2px;
}

.three {
  height: 200px;
  background-image: initial;
  border: solid black 4px;
  margin-bottom: 2px;
}

.four {
  height: 200px;
  background-image: inherit;
  border: solid black 4px;
  margin-bottom: 2px;
}

.five {
  height: 200px;
  background-image: linear-gradient(red, yellow);
  border: solid black 4px;
  margin-bottom: 2px;
}

.six {
  height: 200px;
  background-image: repeating-linear-gradient(red, yellow 10%, green 10%);
  border: solid black 4px;
  margin-bottom: 2px;
}

.seven {
  height: 200px;
  background-image: radial-gradient(red, green, yellow);
  border: solid black 4px;
  margin-bottom: 2px;
}

.eight {
  height: 200px;
  background-image: initial;
  border: solid black 4px;
  margin-bottom: 2px;
}
.nine {
  height: 200px;
  background-image: url(sun.avif), url(images.jpg);
  background-repeat: no-repeat, repeat;
  border: solid black 4px;
  margin-bottom: 2px;
}
