div {
  width: 200px;
  height: 200px;
  background-color: yellow;
  border: solid blue 5px;
  border-radius: 10px;

  /* padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
   */

  /* use short hand */

  padding: 10px;

  /* padding completed */

  display: inline-block;

  /* margin-top: 30px;
   margin-right: 30px;
   margin-bottom: 30px;
   margin-left: 30px; */

  /* use short hand */

  margin: 30px;
}
