.one {
  background-image: url(img.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right top;
}
.two {
  background-image: url(img.png);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: left top;
}
