h1{
    text-align: center;
    font-weight: 100px;
}
.container{
height: 700px;
width: 700px;
background-color: lightgray;
position: relative;  /* div parents waxaa kuu fican inaa kan dorato si flexibility u hesho*/
margin: auto; /*center kaga dhigaa*/
overflow: auto; /*containerkaag haduu heightkis ama widthkiisa gaabto ee elementska aa gelisay qaar soo baxsadaan walala ekeesinaa*/

}
#Box1{
position: fixed;
background-color: red;
height: 200px;
width: 200px;
top: 200;
left: 50%;

}
