h1{
    
    color: black;
}
/* this element selector */

*{
    text-align: center;
    
}
/* this universal selector */

#lio{
    background-color: yellow;
    
}
/* this id selector */

.maaw{
    text-transform: uppercase;
}
/* this class selector */